---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const { frontmatter, content } = Astro.props;

const pubDate = new Date(frontmatter.pubDate);

const formattedPubDate = new Intl.DateTimeFormat('en-US', {
  month: 'long',
  day: 'numeric',
  year: 'numeric'
}).format(pubDate);
---
<BaseLayout class="flex justify-center items-center h-screen">
  <div class="p-4">
    <p class="title">{frontmatter.title}</p>
    <p>{formattedPubDate}</p>
    <p class="mb-5">Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt}  />
    <slot class="prose" />
  </div>
</BaseLayout>

